.ThankYou {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  .ThankYou h1 {
    font-size: 90px;
    color: #333;
    
   
  }
  .ThankYou p{
    margin-top: 15px;
    font-size: 30px;

  }

  