.AddToCart button {

  padding: 2px 10px;
  margin-right: 5px;
  background-color: #363334;
  border: none;
  color: white;
  border-radius: 5px;
  font-family: inherit;
  transition: all 100ms linear;
  margin: 0 auto;
  font-size: 20px;
  height: 40px;
  font-weight: bold;
}
.AddToCart button:hover {
  background-color: rgb(92, 87, 89);
}
.AddToCartCount{
  display: inline-block;
  margin-left: 10px;
  
}